<ion-view title="Settings">
    <ion-content>
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Your Name</span>
          <input type="text" ng-model="user.username" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">City</span>
          <input type="text" ng-model="user.city">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" ng-click="signIn(user)">Save</button>
      </div>
      <hr />
      <div class="padding">
        <button class="button button-block button-assertive" ng-click="deleteDB()">Clear DB</button>
      </div>
      
    </ion-content>
</ion-view>