<ion-view hide-nav-bar="true">
<ion-header-bar align-title="left" class="bar-positive">
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-arrow-left" ng-click="goBack()">&nbsp;<span class="padding-left">{{ categoryName }}</span></button>
    <h1 class="title">&nbsp;</h1>
    <button class="button button-icon icon ion-plus" ng-click="openModalSupplier()"></button>            
  </div>
</ion-header-bar>        
<ion-content>
  <div class="list list-inset">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Search" id="query" ng-model="filter.query">
    </label>
    <div ng-show="categoryId == 10">
      Capacity <strong>{{filter.capacity}}</strong>+ people
      <div class="range">
        <i class="icon ion-ios7-person"></i>
        <input type="range" name="capacity" min="0" max="300" value="0" step="10" ng-model="filter.capacity">
        <i class="icon ion-ios7-people"></i>
      </div>
    </div>
  </div>
  
  <div class="list">
      <div class="item item-divider text-center">
        {{categorySuppliers.length}} items in {{ categoryName }}
      </div> 
      <a class="item item-icon-right" ui-sref="eplanmenu.supplierdetails({supplierId: {{supplier.id}} })" ng-repeat="supplier in categorySuppliers | filterMultiple:{name:filter.query,capacity:filter.capacity} | orderBy:'name' | orderBy:'id'">
        <h2>{{ supplier.name }}</h2>
        <p class="margin-zero">
          {{ supplier.address }}
          <br>{{ supplier.phone }}
        </p>
        <i class="icon ion-ios7-arrow-right half-opacity"></i>
      </a>
  </div>   
  
  <br>
</ion-content>
</ion-view>