  <div class="list card">
    <div class="item item-icon-left">
      <i class="icon ion-model-s half-opacity"></i>
      {{eSupplier.name}}
    </div>
  
    <div class="item item-body padding-zero">
      <div class="row small-details-header">
        <div class="col">Next appointment</div>
      </div>
      <div class="row small-details-data">
        <div class="col"><strong>2014-09-08 @ 13:00</strong></div>
      </div>       
      <div class="row price-header text-center">
        <div class="col">Price</div>
        <div class="col">Downpayment</div>
        <div class="col">Rest</div>
      </div>
      <div class="row price-data text-center">
        <div class="col"><strong>$400</strong></div>
        <div class="col"><strong>$50</strong></div>
        <div class="col"><strong>$350</strong></div>
      </div>
    </div>
  
    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-compose"></i>
        Edit
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-chatbox"></i>
        Notes
      </a>
      <a class="tab-item assertive" ng-click="removeSupplier('{{event.guid}}', '{{eSupplier.ID}}')">
        <i class="icon ion-ios7-trash-outline"></i>
        Delete
      </a>
    </div>
  </div>