.maintitle{text-align:center}
.margin-right{margin-right: 20px}
.margin-zero{margin: 0 !important}
.padding-zero{padding: 0}
.half-opacity{opacity: 0.5}
.text-center{text-align: center}
.label-small{width: 10%;font-size: 20px}
/*.label-small + input{margin-right: 5px}*/
.item-input{padding: 6px 16px 5px}
.bar-big {height:80px}
.bar-big p, .bar-big h2{margin: 0}
.bar-big .item{padding: 5px 5px 5px 54px}

#map {width: 100%;height: 100%}

.scroll {height: 100%}

.price-header {font-size: 70%;padding-bottom: 0}

.small-details-header{font-size: 80%;padding-bottom: 0}
.small-details-data{font-size: 80% !important}
.small-footer-data {font-size: 75% !important;line-height: 110%}

ion-content {background-color: #F9F9F9}
.no-background {background:none}
.card {box-shadow: none}
.card-condensed {line-height: 0}
.item-condensed {padding-bottom: 10px;padding-top: 10px}

.feed-content img{height: auto;width: 100%}

.fc-header-title h2 {font-size: 130%}
.fc-today {background: none repeat scroll 0 0 #98CAFF}
.fc-agenda {padding-bottom: 100px;}
.calendar .activeDay{font-weight: bold;background: none repeat scroll 0 0 #E6F1FC;}

div.infowindow-content {min-width: 220px}

.parallax-card {height: 160px;margin: 0; z-index:-1;}