.maintitle{text-align:center}
.margin-right{margin-right: 20px}
.margin-zero{margin: 0 !important}
.padding-zero{padding: 0}
.half-opacity{opacity: 0.5}
.text-center{text-align: center}
.label-small{width: 10%;font-size: 20px}
/*.label-small + input{margin-right: 5px}*/
.item-input{padding: 6px 16px 5px}
.bar-big {height:80px}
.bar-big p, .bar-big h2{margin: 0}
.bar-big .item{padding: 5px 5px 5px 54px}

#map {width: 100%;height: 100%}

.scroll {height: 100%}

.price-header {font-size: 70%;padding-bottom: 0}

.small-details-header{font-size: 80%;padding-bottom: 0}
.small-details-data{font-size: 80% !important}
.small-footer-data {font-size: 75% !important;line-height: 110%}

ion-content {background-color: #F9F9F9}
.no-background {background:none}
.card {box-shadow: none}
.card-condensed {line-height: 0}
.item-condensed {padding-bottom: 10px;padding-top: 10px}

.feed-content img{height: auto;width: 100%}

.fc-header-title h2 {font-size: 130%}
.fc-today {background: none repeat scroll 0 0 #98CAFF}
.fc-agenda {padding-bottom: 55px;}
.calendar .activeDay{font-weight: bold;background: none repeat scroll 0 0 #E6F1FC;}
/*
.fc-basic-view tbody .fc-row {min-height: 2.4em;}
.fc-ltr .fc-basic-view .fc-day-number {text-align: center;}
.fc-basic-view td.fc-week-number span, .fc-basic-view td.fc-day-number {padding-top: 6px;}
*/
.card-calendar {margin: 5px 0 0;}
.fc-grid .fc-day-number {float: right;padding: 5px;}

div.infowindow-content {min-width: 220px}

.parallax-card {height: 160px;margin: 0; z-index:-1;}

.event-title{line-height: 1;padding-bottom: 10px;}
.event-details{font-size: 10px;line-height: normal}
.event-details .icon:before {font-size: 20px;line-height: 55%;}
.event-details .icon {padding-right: 3px;}
.event-cost{color: #4A87EE;font-size: 2em;font-weight: bold;margin-left: 5px;}
    
.line-clip {display: block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 100%;}

.card-event {border-radius: 0 !important;}
.item-event {border-radius: 0 !important;padding: 0}
.button.button-event{margin: 0;max-height: none;min-height: 0;padding: 0;border-bottom-width: 0;border-top-width: 0;text-align: left;}
.card-event .row,.card-event .col {line-height: normal;margin: 0;padding: 0;}
.card-event .pay {color: #FFFFFF;font-size: 12px;padding-bottom: 2px;padding-top: 2px;}
.pay.pay-rest {background-color: #0D44FF;}
.pay.pay-upfront {background-color: #0C78E8;}
.pay.pay-price {background-color: #00C0FF;}

.bar.bar-loading {
  display: block;
  height: 24px;
  overflow: hidden;

  /* starts right below a normal header */
  top: 44px;
  
  /* make the text centered vertically and horizontally */
  text-align: center;
  padding: 0;
  line-height: 24px;

  /* transition 'sliding down' (check below)*/
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

/* make loading bar slide up/down */
.bar-loading.ng-enter,
.bar-loading.ng-leave.ng-leave-active {
  height: 0;
  border-width: 0px;
}
.bar-loading.ng-enter.ng-enter-active,
.bar-loading.ng-leave {
  height: 24px;
  border-width: 1px;
}